.--home-section-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: $max-width-md) {
    .--home-section-container {
        flex-direction: column-reverse;
        padding: 24px;
    }
}

.--home-section-profile-name-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

@media screen and (max-width: $max-width-md) {
    .--home-section-profile-name-container {
        width: 100%;
        height: 50%;
    }
}

.--home-section-profile-name {
    font-size: var(--font-size-xxxl);
    font-weight: 500;
    line-height: 1.8;
}

@media screen and (max-width: $max-width-md) {
    .--home-section-profile-name {
        font-size: var(--font-size-xxl);
    }
}

.--home-section-profile-headline {
    font-size: var(--font-size-md);
    font-weight: 400;
}

.--home-section-profile-contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 15px;
}

.--home-section-profile-contact-btn-icon {
    font-size: 20px;
    margin-right: 5px;
}

.--home-section-profile-picture-container {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: $max-width-md) {
    .--home-section-profile-picture-container {
        width: 100%;
        height: 60%;
    }
}

.--home-section-profile-picture {
    width: 80%;
    user-select: none;
    --webkit-user-select: none;
    --moz-user-select: none;
    min-width: 300px;
    min-height: 300px;
    max-height: 80%;
    object-fit: cover;
    clip-path: circle();
    filter: hue-rotate(30deg);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

@media (hover: hover) {
    .--home-section-profile-picture:hover {
        filter: none;
    }
}

@media (hover: none) {
    .--home-section-profile-picture {
        filter: none;
    }
}

.--home-section-profile-contact-btn {
    user-select: none;
    -webkit-user-select: none;
    text-decoration: none;
    -moz-user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    outline: none;
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 140px;
    padding: 0 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin: 0 5px;
    font-size: var(--font-size-sm);
    font-weight: 500;
}

.--home-section-profile-contact-btn.secondary {
    border: 2px solid var(--color-secondary);
    background-color: transparent;
    color: var(--color-secondary);
}

.--home-section-profile-contact-btn.primary {
    border: 2px solid white;
    background-color: transparent;
    color: var(--color-primary-text);
}

@media (hover: hover) {
    .--home-section-profile-contact-btn.secondary:hover {
        background-color: var(--color-secondary-dark);
        color: var(--color-secondary-text);
        box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.2);
    }
    .--home-section-profile-contact-btn.primary:hover {
        background-color: white;
        color: black;
    }
}

@media (hover: none) {
    .--home-section-profile-contact-btn.secondary:active {
        background-color: var(--color-secondary-dark);
        color: var(--color-secondary-text);
        box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.2);
    }
    .--home-section-profile-contact-btn.primary:active {
        background-color: white;
        color: black;
    }
}

.--home-section-profile-contact-btn svg {
    fill: currentColor;
}