.--navbar-header {
	width: var(--navbar-width);
	height: var(--navbar-height);
	background: var(--color-primary-dark);
	display: flex;
	flex-direction: column;
	z-index: 100;
}

.--navbar-brand {
	font-size: var(--navbar-brand-font-size);
	color: var(--color-primary-dark-text);
	text-decoration: none;
	font-weight: 600;
	text-align: center;
	margin: 15px 8px;
	cursor: pointer;
	user-select: none;
}

.--navbar-nav.header {
	display: flex;
	flex-direction: column;
	margin: auto 0;
}

.--navbar-nav.bottom {
	display: none;
}

@media screen and (max-width: $max-width-md) {
	.--navbar-header {
		justify-content: center;
		align-items: center;
	}
	.--navbar-nav.header {
		display: none;
	}

	.--navbar-nav.bottom {
		width: 100%;
		display: block;
		height: var(--navbar-height);
		background: var(--color-primary-dark);
	}

	.--navbar-list {
		height: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}

	.--navbar-footer {
		display: none;
	}

	.--navbar-item {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
}

.--navbar-item {
	user-select: none;
	cursor: pointer;
	margin: 4px;
	padding: 10px;
	color: var(--color-primary-dark-text);
	font-size: var(--font-size-sm);
	list-style: none;
	border-radius: 6px;
	transition: all 0.2s ease-out;
}

.--navbar-item-active {
	color: var(--color-secondary-text);
	background-color: var(--color-secondary);
}

@media (hover: hover) {
	.--navbar-item:hover {
		color: var(--color-secondary-dark-text);
		background-color: var(--color-secondary-dark);
	}
}

@media (hover: none) {
	.--navbar-item:active {
		color: var(--color-secondary-dark-text);
		background-color: var(--color-secondary-dark);
	}
}

.--navbar-footer {
	color: var(--color-primary-dark-text);
	text-align: center;
	padding: 15px 5px;
	font-size: var(--font-size-xs);
}

.--navbar-footer-link {
	text-decoration: none;
	color: var(--color-tertiary);
}
